
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    text-align: center;
}

#color_box{
    position: absolute;
    margin: auto;
    top:0;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    /* background-color: blue; */
    